* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #FAF8ED;
    width: 1440px;
    height: 1243px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 24px 135px;
    height: 102px;
}
.header1 {
    display: flex;
    gap: 72px;
}
.nav {
    display: flex;
    gap:36px;
    align-items: center;
    font-family: "Poppings";
}

.nav a {
    text-decoration: none;
}

.button {
    border: 1.4px solid #F66F4D;
    border-radius: 27px;
    padding: 19px 19px 19px 34px;
}

.button span {
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #F66F4D;
    margin-right: 6px;
}
main {
        padding: 85px 135px;
        text-align: center;
}

.desc {
    text-align: center;
    padding: 16px;
    
}
.city {
    text-align: center;
    margin-bottom: 40px;
}
.city button:nth-of-type(1)
     {
    background: #2D3134;
    border-radius: 30px;
    color: #FFFFFF;
}
.city button {
    border: 1px solid #3D3D3D;
    border-radius: 30px;
    font-weight: 400;
    font-size: 14px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    margin: 10px;
    
}
h1 {
    font-family: "Inter";
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 66px;
    margin-bottom: 16px;
    
}
.desc p {
    margin-bottom: 38px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #5B5F62;
}

.container {  display: grid;
    grid-template-columns: 1fr 1.3fr 0.8fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px 30px;
    grid-auto-flow: row;
    grid-template-areas:
      "grid1 grid3 grid4 grid4"
      "grid2 grid3 grid5 grid6";
  }
  
  .grid1 { grid-area: grid1; }
  
  .grid2 { grid-area: grid2; margin-top: 3px; }
  
  .grid3 { grid-area: grid3; }
  
  .grid4 { grid-area: grid4; }
  
  .grid5 { grid-area: grid5; margin-top: -10px; }
  
  .grid6 { grid-area: grid6; margin-top: -10px; }

.footer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
    padding: 24px 135px;
    
    
}
.box {
display: flex;
flex-direction: column;
gap: 7px;
margin-left: 110px;

}

h4 {
    padding-bottom: 22px;
    font-family: "Inter";
}
footer a {
    text-decoration: none;
    font-family: "Inter";
    color: #676A6C;
}
.footer p {
    font-family: "Inter";
}
.boxmain {
    display: flex;
    justify-content: flex-end;
    
}
.box1 p {
    padding-top: 28px;
}